*{
    margin-top: 0%;
    padding: 0%;
}

.clock {
    width: 35vw;
    height: 35vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 3%;
    height: 26%;
    top: 25%;
    left: 48.5%;
    opacity: 0.8;
}

#minute {
    width: 2%;
    height: 30%;
    top: 21%;
    left: 49%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 33%;
    top: 17%;
    left: 49.5%;
    opacity: 0.8;
}